<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
<div class="landing box container">
    <div class="row">
        <div class="col-md-7 biggie">
            <div class="img-wrapper">
                <img src="/images/biggie.jpg" alt="biggie fuckin smalls son" />
            </div>
        </div>
        <div class="col-md-5 title">
            <h1>IF<br/>
                YOU<br/>
                DON'T<br/>
                KNOW<br/>
            </h1>
            <h2>Now you know</h2>
        </div>


    </div>
</div>
<div class="first box">
    first
</div>
<div class="second box">
    second
</div>

</body>