body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Non-boilerplate*/

.first {
    background-color: #000;
}

.second {
    background-color: #a9a9a9;
}

.box {
    height: 100vh;
    width: 100vw;
}

.landing {
    width: 100% !important;
}

.landing .row, .landing .biggie{
    height: 100%;
    position: relative;
    /*background-size: cover;*/
    /*background: url('/images/notorious.jpg') no-repeat;*/
    /*transform: scaleX(-1);*/
}

/*.biggie-wrapper {*/
    /*position: relative;*/
    /*height: 100%;*/
/*}*/

.biggie img {
    width: 100%;
    position: absolute;
    bottom: 0;
}