body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Non-boilerplate*/

.first {
    background-color: #CCC02B;
}

.second {
    background-color: #416B2B;
}

.box {
    height: 100vh;
    width: 100vw;
}

.landing {
    background-size: cover;
    background: url('/images/notorious.jpg') no-repeat;
    /*transform: scaleX(-1);*/
}
